

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://github.com/joyce1622/cat-2/blob/main/barbie%20doll.jpg?raw=true);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}


.wrapper {max-width: 600px{
	 
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width:100px ;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
	.container{
		max-width:1300px;
		margin:auto;
		padding-left:25px;
		padding-right:25px;
	}
	
	.col-4{
		flex-basis:25%;
		padding:10px;
		min-width:200px;
		margin-bottom:50px;
		transition:transform 0.5s;
	}
	.col-4 img{
		width:100%;
		heigth:100%;
	}
	.title{
		text-align:center;
		margin:0 auto 80px;
		position:relative;
		line-height:60px;
		color:#555;
	}
	.title::after{
		content:";
			background:#ff523b;
		width:80px;
		hight:5px;
			border-radius:5px;
		position:absolute;
		bottom:0;
		left:50%;
		transform:translateX(-50%);
	}
	h4{
		color:#555;
		font-weight:normal;
	}
	.col-4 p{
		font-size:14px;
	}
	.rating.fa{
		color:#d1fd0d;
	}
	.col-4:hover{
		transform:translateY(-5px);
	}
	.small-container{
		max-width:1080px;
		margin:auto;
		padding-left:25px;
		paddind-right:25px;
	}
	.footer{
		background-color:#000;
		color:#555;
		font-size:14px;
		padding:60px 0 20px;
	}
	.footer p{
		color:#555;
	}
	.footer h3{
		color:#fff;
		margin-bottom:20px;
	}
	.footer-col-1,.footer-col-4{
		min-width:250px;
		margin-bottom:20px;
	}
	.footer-col-1{
		flex-basis:30%;
	}
	.footer-col-4{
		flex-basis:12%;
		text-align:center;
	}
	.app-logo{
		margin:20px;
	}
	.app-logo img{
		width:100px;
	}
	.footer hr{
		border:none;
		background color:#b5b5b5;
		height:1px;
		margin:20px 0;
	}
	.copyright{
		text-align:center;
	}
	/*---------all featured products page------*/
	.row-2{
		justify-content:space-between;
		margin:100px auto 50px;
	}
	select:focus{
		outline:none;
	}
	.page-btn{
		margin:0;
		auto:80px;
	}
	.page-btn span{
		display:inline-block;
		border:1px solid #ff523b;
		margin-left:10px;
		width:40px;
		height:40px;
		text-align:center;
		line-height:40px;
		cursor:pointer;
	}
	.page-btn-span:hover{
		background:#ff523b;
		collor:#555;
	}
	.row{
		text-align:center;
	}
	.col-4{
		flex-basis:100%;
	}
	.btn{
		display:inline-block;
		background:#ff523b;
		color:#fff;
		padding:8px 30px;
		margin:30px 0;
		border-radius:30px;
		transition:background 0.5s;
	}
	.btn:hover{
		background:#fff;
	}
}
		
			
		
		
	
